# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List data science libraries
- Table of Data Science tools
- Arithmetic expression examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. Caret
5. TensorFlow

| Data Science Tools |
| ------------------- |
| Apache Hadoop |
| Apache Spark |
| Elasticsearch |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Juan Antonio √Ålvarez Montesinos